
.home-text {
  text-align: center;
  margin: auto;
  padding-top: 25%;
}

.home {
  font-family: 'Text Me One', sans-serif;
}
div.button.round {
  font-family: 'Text Me One', sans-serif;
  background-color: teal;
  width: 12%;
}

div.button.round :hover {
  color: #00c5c5;
}

div.button.round >a {
  color: white;
}

#wrapper {
	min-height:125%;
	position:relative;
  background-image: url("notebook.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

}

.page-footer {
  background-color: black;
  height: 20%;
  color: teal;
}

.page-links {
  text-align: center;
  color: teal !important;
  padding-top: 3%;
}
