
.home-text {
  text-align: center;
  margin: auto;
  padding-top: 25%;
}

.home {
  font-family: 'Text Me One', sans-serif;
}

#wrapper {
  height: 100%;
	position:relative;
  background-image: url("notebook.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

.page-links {
  padding-top: 15%;
  text-align: center;
}
