.top-bar {
  background: black;
}

.top-bar ul li > a {
  color: teal;
}

.name {
  font-size: 34px !important;
  padding-left: 100px;
  font-family: 'Text Me One', sans-serif;
}

.top-bar-section ul li > a{
  font-family: 'Open Sans', sans-serif;
  background: black !important;
  color: white !important;
}

.top-bar-section ul li.active > a {
    /*background: white !important;*/
}

.top-bar-section ul li.active > a:hover {
    /*background: white !important;*/
    color: teal !important;
}
