// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-wrapper {
  padding: 3rem;
  text-align: center;
}
.form-container {
  font-family: 'Text Me One', sans-serif;
  margin: auto;
  width: 50%;
  padding-bottom: 2rem;
  padding-top: 3rem;
}

.button {
  font-family: 'Text Me One', sans-serif;
  color: white;
  background-color: teal;
}
