// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-content {
text-align: center;
position: sticky;
}

.avatar-box {
  padding-top: 25px;
  width: 250px;
  margin: auto;
}

.profile-avatar {
  width: 150px;
  height: 150px;
  border: 1px transparent;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
}

.profile-info {
  text-align: center;
}

.project{
  width: 288px;
  height: 288px;
  float: left;
  align-items: center;
}

.project img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.profile-wrapper {
  width: 50%;
  margin: auto;
  padding-bottom: 2rem;
}
