<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ArtDrop</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script src="https://use.fontawesome.com/9b2b5e2406.js"></script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>

    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li>
          <a href="#" class="name">
            <i class="fa fa-tint" aria-hidden="true"></i> ArtDrop</a>
        </li>
          <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
          </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right">
          <li><a href="#" class="button round">
            <i class="fa fa-upload" aria-hidden="true"></i> Upload</a></li>
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Sign In</a></li>
          <li class="has-dropdown">
            <a href="#">Profile</a>
              <ul class="dropdown">
                <li><a href="#">
                  <i class="fa fa-user-o" aria-hidden="true"></i> My Profile</a></li>
                <li><a href="#">
                  <i class="fa fa-cog" aria-hidden="true"></i> Edit Profile</a></li>
                <li><a href="#">
                  <i class="fa fa-sign-out" aria-hidden="true"></i> Sign Out</a></li>
              </ul>
          </li>
        </ul>
      </section>
    </nav>

    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>

    <%= yield %>

  </body>
</html>
